
[Unit]
Description=Unregister gitlab-runner before shutdown.
DefaultDependencies=no
Before=shutdown.target halt.target
# This works because it is installed in the target and will be
#   executed before the target state is entered
# Also consider kexec.target

[Service]
Type=oneshot
{% for runner in runners %}ExecStart=/usr/bin/gitlab-runner unregister -n "{{runner}}" 
{% endfor %}

[Install]
WantedBy=halt.target shutdown.target
